.container-contact-form {
  max-width: 600px;
  margin: auto;
  margin-top: 10rem;
  padding: 2rem;
  background-color: #000000; 
  color: #FFD700; 
  border-radius: 10px;
  justify-content: column;
  
}

.form-title {
  text-align: center;
  color: #FFD700;
  margin-bottom: 2rem;
}

#formName, #formEmail, #formPhone {
  margin-top:.25rem;
  margin-bottom:.75rem;
}

.form-group {
  margin-bottom: 2rem;
}

.form-control {
  background-color: #333333; 
  color: #FFD700; 
  border: 1px solid #FFD700; 
}

.form-control::placeholder {
  color: #FFD700; 
}

.form-label {
  color: #FFD700; 
}

.submit-button {
  background-color: #FFD700;
  border-color: #FFD700;
  color: #000000; 
  width: 100%;
  padding: 0.75rem;
  font-size: 1.2rem;
}

.submit-button:hover {
  background-color: #FFC700;
  border-color: #FFC700;
}